/***********************************
  Fonts
***********************************/

/* Need to do  */

/***********************************
  Variable Declarations
***********************************/

:root {
    --main-theme-color: #be132d;
    --primary-text: #303545;
    --secondary-text: #5d6165;
    --teritary-text: #82878f;
    --content-background: #fefeff;
    --secondary-color: #888;
    --tertiary-color: #ccc;
    --navbar-color: #fffefc;
}

/***********************************
  Base Styles
***********************************/

* {
    margin: 0;
    font-family: 'Lato', 'CrimsonText', 'STKaiti', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-text);
}

html {
    background: var(--content-background);
}

/* The `!important` tags below are just for overriding
   Bootstrap styles, will be removed in the future. */

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--content-background);
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}

/* a {
    text-decoration: none !important;
} */

.fas, .far, .fal, .fab {
    color: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.center {
    text-align: center;
}

/***********************************
  Containers
***********************************/

.main-content-container {
    width: 100%;
}

.full-width-bg-container {
    width: 100%;
    background: var(--navbar-color);
    z-index: 100; /* to set this container above all */
}

.card-container {
    margin-top: 60px;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 4px 5px 14px 0px rgba(4, 3, 2, 0.1);
    transition: 150ms ease;
}

.card-container:hover {
    box-shadow: 1px 2px 8px 0px rgba(4, 3, 2, 0.12);
}

#page-container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: calc(80px + 30px);
    padding-bottom: calc(80px + 30px);
}

.page-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: #ffffff00;
    transition: ease-in-out 200ms;
}

#page-container.inactive > .page-overlay {
    background-color: #5e6d7e48;
    pointer-events: all;
}

.box-shadow {
    box-shadow: 2px 2px 6px 2px #30354514;
}

.box-shadow:hover {
    box-shadow: 2px 2px 6px 1px #30354516;
}



/***********************************
  Header
***********************************/

header * {
    font-family: canada-type-gibson, sans-serif;
    font-size: 1.05rem;

    transition: ease-in-out 200ms;
}

#navbar-bg {
    position: fixed;
    top: 0px;
}

#navbar-container {
    margin-top: 0;
    padding: 0;
    border-radius: 0;
}

#main-navbar {
    display: flex;
    height: 70px;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

#main-navbar > .logo {
    width: 108.121875px; /* There definitely exists a better way */
    height: 38px;
    background-image: url('/static/images/logo-color-full.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    cursor: pointer;
}

#main-navbar a {
    text-decoration: none;
}

.navbar-item#menu-toggle {
    display: none;
    padding: 10px 15px;
    border-width: 0;
}

.navbar-item#menu-toggle:hover {
    background-color: white;
    color: var(--main-theme-color);
}

.navbar-item#menu-toggle.active {
    background-color: var(--main-theme-color);
    color: white;
}

.navbar-item#menu-toggle i {
    font-weight: 800;
    font-size: 1.4rem;
}

.navbar-item#menu > .info-responsive {
    display: none;
    color: #5E6D7E;
    background-color: white;
    font-style: italic;
}

.navbar-item#search-form {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    align-self: flex-start;
}

.navbar-item .dropdown-menu {
    transition: none;
}

.navbar-item {
    margin: 0 20px;
    display: inline-flex;
}

.search-form-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    max-width: 700px;
    height: auto;
    margin: 12px auto;

    background-color: var(--navbar-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
}

#search-form.disabled .search-form-wrapper {
    background-color: #5e6d7e2f;
}

.navbar-item .search-input-wrapper {
    display: flex;
}

.search-input-wrapper > .search-icon {
    margin: auto 15px;
    font-size: 20px;
    color: var(--secondary-color);
}

.search-input-wrapper > input {
    height: 45px;
    flex-grow: 1;
    font-size: 17px;
    padding-right: 15px;

    background: none;
    border: none;
    outline: none;
}

.search-input-wrapper > input::placeholder {
    color: var(--secondary-color);
}

#search-dropdown-wrapper {
    display: block;
    width: 100%;
}

#search-dropdown-wrapper > hr {
    margin: 0 auto;
    border-top: 1px solid var(--tertiary-color);
}

.search-entry-wrapper {
    text-align: left;
}

.search-entry {
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 20px;
    /* border-bottom: 1px solid var(--tertiary-color); */
}

.search-entry:hover {
    background: #f3f2f0;
}

.search-entry-wrapper:last-child > .search-entry {
    border: none;
    border-radius: 0 0 9px 9px;
}

.search-entry .character {
    margin-right: 15px;
    font-size: 24px;
    font-weight: 500;
}

.search-entry .pinyin {
    min-width: 40px;
    margin-right: 15px;
}

.search-entry .definition {
    margin: 0;
    font-size: 14px;
    line-height: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-entry .explanation {
    color: var(--secondary-color);
    font-style: italic;
    font-size: 1em;
}

.error-msg {
    margin: 10px 0;
    color: var(--secondary-color);
    text-align: center;
}

.selected{
    background-color: rgb(202, 201, 201);
}

li{
    display: block;
    list-style:none;
}
ul{
    margin-bottom: 0%;
    margin:0; 
    padding:0; 
    list-style:none;
}
/***********************************
  Footer
***********************************/

#footer-bg {
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #e8e8e8;
}

#footer {
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
    padding: 18px;
}

#footer * {
    color: #8E9DAE;
}

#footer #copyright-info {
    font-size: 80%;
}

#footer-icon-container i:hover {
    color: #5E6D7E;
}

/***********************************
  Buttons
***********************************/

.button {
    padding: 0.2em 1.2em; /* changed from 0.6em 1.2em */
    border: 1px solid #040302;
    border-radius: 0.25em;
    color: #040302;
    background: white;
    cursor: pointer;
    transition: 150ms ease;
}

.button.button-primary {
    text-align: center;
    color: var(--main-theme-color);
    border-color: var(--main-theme-color);
}

.button.button-primary:hover {
    color: white;
    background: var(--main-theme-color);
}

.button.button-secondary {
    color: #5f6267;
    border-color: #5f6267;
}

.button.button-secondary:hover {
    color: white !important; /* Temporary Bootstrap Override */
    background: #5f6267; /* changed from #040302 */
}

.button.button-tertiary {
    color: #83878e !important; /* Temporary Bootstrap Override */
    border-color: #83878e; /* changed from var(--secondary color */
}

.button.button-tertiary:hover {
    color: white !important; /* Temporary Bootstrap Override */
    background: #83878e;
}

.button.button-disabled {
    color: #bec0c4; /* new disabled button class */
    border-color: #bec0c4;
}

.button.button-disabled:hover {
    color: white;
    background: #bec0c4;
}

.button.button-text-only {
    text-align: center;
    /* padding: 0; */
    border: none;
}

.button.button-text-only:hover {
    color: var(--main-theme-color)
}

.header-back-button {
    position: absolute;
    margin-top: -1.8em;
    color: var(--secondary-color);
    font-weight: 500;
    transition: 150ms ease;
}

.header-back-button:hover {
    /* color: #040302; */
    color: var(--main-theme-color);
}

.header-back-button > i {
    margin-right: 0.4em;
}

.button + .button:not(.option) {
    margin-left: 15px;
}

.button.button-signup{
    color: var(--main-theme-color);
    border-color: var(--main-theme-color);
    margin-right: 0px;
}
.button.button-signin{
    padding: 0;
    border: none;
}
